body {
}

.image-size {
    height: 85px;
    width: 85px;
}

.day_night_style {
    width: 400px;
}

.info_style {
    width: 70px;
    text-align: center;
}

h2 {
    color: blue;
}

.tabs ul {
    list-style: none;
}

    .tabs ul li {
        float: left;
        background: #eee;
        border: 1px #aaa solid;
        border-bottom: none;
        margin-right: 10px;
        padding: 5px;
    }

        .tabs ul li.active {
            margin-bottom: -1px;
            padding-bottom: 6px;
        }

.tabInner {
    clear: both;
    border: 1px solid #aaa;
    overflow: hidden;
    background: #eee;
}

    .tabInner div {
        padding: 10px;
    }
