body {
}

.image-size {
    height: 85px;
    width: 85px;
}

.day-night-style {
    width: 250px;
}

.info-style {
    font-size: small;
    width: 70px;
    
}

h1 {
    margin-right: 5px;
}

h2 {
    color: blue;
}

h4 {
    margin-right: 10px;
}

.tabs ul {
    list-style: none;
}

    .tabs ul li {
        float: left;
        background: #eee;
        border: 1px #aaa solid;
        border-bottom: none;
        margin-right: 10px;
        padding: 5px;
    }

        .tabs ul li.active {
            margin-bottom: -1px;
            padding-bottom: 6px;
        }

.tab-inner {
    clear: both;
    border: 1px solid #aaa;
    overflow: hidden;
    background: #eee;
}

    .tab-inner div {
        padding: 10px;
    }

input {
    display: inline-block;
}