body
{
}

#sunny
{
    height:85px;
    width:85px;
    background:url('weathericon.jpg') 0 0;
}

#moon
{
    height:85px;
    width:85px;
    background:url('weathericon.jpg') -90px 0;
}

#cloud
{
    height:85px;
    width:85px;
    background:url('weathericon.jpg') 0 -90px;
}

#rain
{
    height:85px;
    width:85px;
    background:url('weathericon.jpg') -270px -180px;
}

#thunder
{
    height:85px;
    width:85px;
    background:url('weathericon.jpg') -270px -270px;
}

#day_night_style
{
    width:400px;
}

#info_style
{
    width:70px;
    text-align:center;
}

h2
{
    color: blue;
}